@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');

@import "homeimages.css";

@import "nav.css";

@import url("https://fonts.googleapis.com/css?family=Lato");
/* :root is used to store css variables */
:root{
	--gradient: linear-gradient(#233D5F,#dd401e,#FB9737,#DCDCDC) ;
}
/*Font to be used for text fields*/
/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Passero One', cursive; */
html {
	height: 100%;
	margin:0;
	padding:0%;
}

body {
	height: 100%;
	font: 400 10px "Lato", sans-serif;
	text-align: center;
	padding:0%;
	margin:0;
}

