    body {
      font-family: Arial;
    }
    
    * {
      box-sizing: border-box;
    }
    
    form.search input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
    }
    
    .submit {
      float: left;
      width: 20%;
      height: 2.475em;
      padding: 10px;
      background:  rgb(80, 25, 45);
      font-size: 17px;
      border: 1px solid grey;
      cursor: pointer;
    }
    
    form.search button:hover {
      background:  rgb(177, 68, 108);
    }
    
    form.search::after {
      content: "";
      clear: both;
      display: table;
    }